@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    max-width: 1460px;
    margin: 0 auto;
  }
.min-container {
  max-width: 100%;
  margin: 0;
}

  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-slate-gray max-sm:rounded-full;
  }
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }

    @keyframes slideIn {
      from {
        transform: translateX(100%);
        opacity: 0;
      }
  
      to {
        transform: translateX(0);
        opacity: 1;
      }
    }
  
    .animate-slideIn {
      animation-name: slideIn;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }
}

.animate-slideOut {
  position: relative;
  animation: slideOut 5s forwards;
}

@keyframes slideOut {
  0% {
    opacity: 1;
    left: 0;
  }

  100% {
    opacity: 0;
    left: -100%;
  }
}

/* !Phone vertical */
@media (max-width: 800px) {
  .flex-rows {
    overflow-x: scroll;
  }
}

.shoe-grid {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 0;
  width: 100%;
  justify-content: space-between;
}



.shoe-grid-item {
  width: calc(100% / 3);
  width: calc(33.33% - 12px);
  margin-bottom: 15px;
}

@media only screen and (max-width: 920px) {
  .shoe-grid-item {
    width: calc(100% / 2);
    width: calc(50% - 10px);
  }
    .about-item {
      width: calc(100% / 3);
      width: calc(33.33% - 12px);
    }
  .shoe-about {
      display: flex;
      flex-direction: column;
    }
    .aboutflex{
      display: flex;
      flex-direction: column;
    }
    .aboutrem {
      margin: 0 4rem;
    }
}


.bg-cards {
  background-image: url('assets/assets/images/thumbnail-background.svg');
}

